Bac_Arc_Family_RelativeAbundance.xlsx
Fungi_Family_RelativeAbundance.xlsx
SBAR_SoilStorage_Preliminary_Results_08242022.pptx
SBAR_SoilStorage_Results_10032022.pptx

ITS_Sequencing_Files/Data
ITS_Sequencing_Files/Dada2_pipeline_check
ITS_Sequencing_Files/Funguild
ITS_Sequencing_Files/paired_read_post_dada2_files
ITS_Sequencing_Files/Plots
ITS_Sequencing_Files/Results
ITS_Sequencing_Files/single_read_post_dada2_files
ITS_Sequencing_Files/UNITE_database
ITS_Sequencing_Files/Rscripts/Others


16S_Sequencing_Files/Data
16S_Sequencing_Files/LefSe
16S_Sequencing_Files/Others
16S_Sequencing_Files/Plots
16S_Sequencing_Files/post_dada2_files
16S_Sequencing_Files/Results
16S_Sequencing_Files/Rscripts/Others



Final_R_Figures/

